<%= form_with(model: dog, local: true) do |form| %>
  <% if dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- default original -->
    <%= form.label :name %>
    <%= form.text_field :name %>

    <!-- add the new foreign keey field defined for Breed (one-to-many relation) -->
    <%= form.collection_select(:breed_id, Breed.all, :id, :name) %>

    <!-- add the new field defined for Age -->
    <%= form.label :age %>
    <%= form.number_field :age %>

    <!-- enable picture -->
    <%= form.label :picture %>
    <%= form.hidden_field(:picture_cache) %>
    <%= form.file_field(:picture) %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
